.container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "c m";
    max-width: 800px;
    max-height: 300px;
    padding: 0px;
    margin: 50px;
}

.card {
    border-color: lightgray;
    border-style: solid;
    border-width: 1pt;
    border-radius: 5pt;
    padding: 10pt;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 75px 75px 40px;
    grid-template-areas:
      "h h h h h i"
      "p p p p p p"
      "a a a d d d";
}

.approve {
    color: limegreen;
    border-color: limegreen;
    border-width: 1pt;
    border-style: solid;
    border-right-style: none;
    padding: 5pt;
    border-top-left-radius: 5pt;
    border-bottom-left-radius: 5pt;
    margin: 0px;
    text-align: center;
    grid-area: a;
}

.decline {
    color: red;
    border-color: red;
    border-width: 1pt;
    border-style: solid;
    padding: 5pt;
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
    margin: 0px;
    text-align: center;
    grid-area: d;
} 

.carla {
    grid-area: c;
}

.marijn {
    grid-area: m;
}

.h1h3 {
    grid-area: h;
}

.image {
    grid-area: i;
}

.p {
    grid-area: p;
}

h1 {
    font-size: 25px;
    font-weight: normal;
    max-height: 20px;
}

h3 {
    font-size: 16px;
    color: darkgray;
    font-weight: normal;
}

p {
    color: #454545;
}